<% layout("/layouts/boilerplate.ejs") %>

<style>
  .filters {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .filter {
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
  }
  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }
  .textInfo {
    display: none;
  }
  .text-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.25rem;
    padding: 1rem;
    margin-left: 3rem;
    display: flex;
    align-items: center;
  }
</style>

<body>
  <div class="filters">
    <div class="filter">
      <div><i class="fa-solid fa-fire"></i></div>
      <p>Trending</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-bed"></i></div>
      <p>Rooms</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-mountain-city"></i></div>
      <p>Iconic Cities</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-mountain-sun"></i></div>
      <p>Mountain Cities</p>
    </div>

    <div class="filter">
      <div><i class="fa-brands fa-fort-awesome"></i></div>
      <p>Castles</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-person-swimming"></i></div>
      <p>Amazing Pools</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-campground"></i></div>
      <p>Camping</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-cow"></i></div>
      <p>Farms</p>
    </div>

    <div class="filter">
      <div><i class="fa-solid fa-cow"></i></div>
      <p>Farms</p>
    </div>

    <div class="filter">
      <div><i class="fa-regular fa-snowflake"></i></div>
      <p>Artic</p>
    </div>

    <div class="text-toggle">
      <div class="form-check-reverse form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Desplay Total After Taxes</label
        >
      </div>
    </div>
  </div>

  <div
    class="row row-cols-lg-4 row-cols-md-3 row-cols-md-1 mt-3"
    style="padding-left: 4rem"
  >
    <% for(let list of allListing) { %>

    <div class="card listing-card" style="width: 18rem">
      <img
        src="<%= list.image %>"
        class="card-img-top"
        alt="Listing_image"
        style="height: 20rem"
      />
      <div class="card-body">
        <h5 class="card-title"><b><%= list.title %></b></h5>
        <p class="card-text"><%= list.description %></p>
        <p class="card-text">
          &#8377;<%= list.price.toLocaleString("en-IN") %> / night
          <i class="textInfo">+<%= list.gst %> GST</i>
        </p>

        <a href="/listings/<%= list._id %>" class="btn btn-primary"
          >See In Detail</a
        >
      </div>
    </div>

    <% } %>
  </div>

  <script>
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");

    taxSwitch.addEventListener("click", () => {
      let textInfo = document.getElementsByClassName("textInfo");
      for (info of textInfo) {
        if (info.style.display != "inline") {
          info.style.display = "inline";
        } else {
          info.style.display = "none";
        }
      }
    });
  </script>
</body>
